.navbar {
    display: flex;
    flex-direction: column;
    background-color: #0f172a;
    padding: 12px 3%;

    .page-title {
        color:#fff;
    }
    .about-page{
        color:#fff;
        font-size: 12px;
    }
    .home {
        color:#fff;
        font-size: 12px;
    }
}